.main{
display: flex;
justify-content: center;
align-items: center;
  /* border: 1px solid black; */
  width: 30%;
  height: 40%;
  justify-content: space-around;
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(245, 244, 244);
}
.mainOne{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.increment{
  padding:15px;
  width: 70px;
  height: 70px;
  font-size: xx-large;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 244, 244);
}
.increment:hover{
  color: blue;
  box-shadow: 2px 2px 3px 1px;

}
.decrement{
  padding:15px;
  width: 70px;
  height: 70px;
  font-size: xx-large;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 244, 244);
}
.decrement:hover{
  color: red;
  box-shadow: 2px 2px 3px 1px;

}
.countDiv{
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: black;
  color: white;
}
.main:hover{
  box-shadow: 2px 3px 3px 2px lightgray;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}